
<div class="card">
  <div class="card-header">
    Registration Page
  </div>
  <div class="card-body">
    <form method="post" [formGroup]="myForm" (submit)='register()'>
      <div class="form-group">
        <label for="name">Full name</label>
        <input type="text" id="name" [formControl]= "usernameControl" class="form-control" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="remail">Email address</label>
        <input type="email" id="remail" [formControl]="emailControl" class="form-control" placeholder="Enter email">
      </div>
      <label>Profession</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineRadio1" [formControl]="professionControl" value="student">
          <label class="form-check-label" for="inlineRadio1">student</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineRadio2" [formControl]="professionControl" value="faculty">
          <label class="form-check-label" for="inlineRadio2">Faculty</label>
        </div>
      </div>
      <div class="form-group">
        <label for="rpassword">Password</label>
        <input type="password" [formControl]="passwordControl" class="form-control" id="rpassword" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="conf_password">Confirm Password</label>
        <input type="password" [formControl]="conf_passwordControl" class="form-control" id="conf_password" placeholder="Confirm password">
      </div>
      <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
